@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html,body{
    height: 100%;

}
.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: black;
}

.sidebar-wraper{
    padding-bottom: 200px;
}
.sidebar-menu{
    margin: 20px 0;
    color: rgb(190, 190,190);
 
}
.sidebar-logo img{
    max-width: 250px; /*truque para img ficar responsiva e ficar alinhada*/
    width: 100%;
}
.sidebar-menu a{
    color: rgb(190, 190,190);
    text-decoration: none;
    display: block;
    padding: 2px 0;
}
.sidebar-menu svg{
    margin: 0 20px;
}
.sidebar-menu a.sidebar-menu-selecionado{
    color: white;
    background-color: rgb(80, 80,80);
    border-radius:5px ;
}

.sidebar-menu-itens img{
    width: 20px;
 
}
.sidebar-menu p.sidebar-menu-title{
    color: white;
    text-transform: uppercase;
    font-size: 14px ;
}
.sidebar-menu-componente {
     width: 30px;
    height: 30px;
    text-align: right;
    display: inline-block;
    color: black;
    line-height: 30px;
    font-weight: bold;
}