@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html,body{
    height: 100%;

}
.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: black;
}

.sidebar-wraper{
    padding-bottom: 200px;
}
.sidebar-menu{
    margin: 20px 0;
    color: rgb(190, 190,190);
 
}
.sidebar-logo img{
    max-width: 250px; /*truque para img ficar responsiva e ficar alinhada*/
    width: 100%;
}
.sidebar-menu a{
    color: rgb(190, 190,190);
    text-decoration: none;
    display: block;
    padding: 2px 0;
}
.sidebar-menu svg{
    margin: 0 20px;
}
.sidebar-menu a.sidebar-menu-selecionado{
    color: white;
    background-color: rgb(80, 80,80);
    border-radius:5px ;
}
.sidebar-menu-itens{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar-menu-itens img{
    width: 20px;
    
 
}
.sidebar-menu p.sidebar-menu-title{
    color: white;
    text-transform: uppercase;
    font-size: 14px ;
}
.sidebar-menu--itens-componente {
     width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    color: black;
    line-height: 30px;
    font-weight: bold;
    background-color: white;
 
}
.sidebar-menu-itens span{
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
}
.sidebar-menu-itens img{
    vertical-align:middle ;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.sidebar-playlist{
    border-top: 1px solid rgb(40,40,40);
    padding: 20px 0;
}
.sidebar-playlist a{
    margin: 10px 0;
    display: block;
    color: rgb(190, 190,190);
    text-decoration: none;
}
.sidebar-playlist a:hover{
    color: white;
}
/* Parte principal do app*/

.main{
    width: calc(100%-50px);
    background-color: rgb(30,30,30);
    height: 100%;

    float: left;
    padding: 15px 50px;
}
.main-row{
    /*manipulando dimensões sem que o flexbox deixe em uma linha só*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.main-wraper{
    padding-bottom:200px;
}
